.venv/
venv/
.env/
env/
*.env
.env


db.sqlite3
*.sqlite3

__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/


*/migrations/*.pyc
*/migrations/*.py

.idea/
.vscode/

*.log
logs/


staticfiles/
media/

